SERVICE_FQDN_LABELSTUDIO=url.com
SERVICE_FQDN_LABELSTUDIO_8080=url.com:8080
SERVICE_PASSWORD_LABELSTUDIO=password
SERVICE_PASSWORD_POSTGRES=password
SERVICE_URL_LABELSTUDIO=url.com
SERVICE_URL_LABELSTUDIO_8080=url.com
SERVICE_USER_POSTGRES=username
CSRF_TRUSTED_ORIGINS=${SERVICE_URL_LABELSTUDIO}
DATA_UPLOAD_MAX_NUMBER_FILES=10000
DJANGO_DB=default
EXPERIMENTAL_FEATURES=false
LABEL_STUDIO_DISABLE_SIGNUP_WITHOUT_LINK=true
LABEL_STUDIO_HOST=${SERVICE_URL_LABELSTUDIO}
LABEL_STUDIO_PASSWORD=${SERVICE_PASSWORD_LABELSTUDIO}
LABEL_STUDIO_USERNAME=admin@example.com
POSTGRE_PASSWORD=${SERVICE_PASSWORD_POSTGRES}
POSTGRE_USER=${SERVICE_USER_POSTGRES}
POSTGRES_DB=labelstudio
POSTGRES_PASSWORD=${SERVICE_PASSWORD_POSTGRES}
POSTGRES_USER=${SERVICE_USER_POSTGRES}
SSRF_PROTECTION_ENABLED=true
