# This is just the endpoint without the /documentintelligence/ ending.
AZURE_DOCUMENT_INTELLIGENCE_TRAIN_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_API_KEY=

AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
